.frm__container { 
    padding-top: 80px;

    .step__container{
        margin: 20px 0;
        padding:0 15px 20px 15px;
        background-color:#6dbef24f;
        border:1px solid #6dbef2;

        .errMsg__container {
            color:red;
            height: 15px;
        }

        .frm__container--elm {
            margin: auto;

        .frm_step_title {
            margin:auto;
            font-size: 25px;
            font-weight: bold;
        }
        .descr {
            font-size: 17px;
        }

        .checkbox span{
            display:inline-block;
            margin-left: 15px;
        }
    }
    }
}