@charset "UTF-8";

@import "fedra";
@import "progress"; 


//	colors
//@blue: #6dbef2;
@blue: rgb(109, 190, 242);
//@purple: #9479f0;
@purple: rgb(148, 121, 240);
//@tyrkis: #9de6fe;
@tyrkis: rgb(25, 230, 226);
//@dark-blue: #000d5b;
@dark-blue: rgb(0, 13, 91);
@white: white;
@grey: #eceded;

@font-color-light: @white;
@font-color-dark: @dark-blue;

@font-size-text: 14px;
@font-size-text-small: 12px;

body {
	padding: 0px;
	font-family: 'Fedra', 'Roboto', sans-serif;
	font-size: @font-size-text;
	color: @font-color-light;
	font-weight: 100;
	
	background-color: transparent;
}

ul {
	list-style: none;
	padding: 0;
}

ul li {
	padding-left: 15px;
	text-indent: -15px;
}

dt {
	font-weight: 400;
	font-size: @font-size-text-small
}

dd {
	font-weight: 100;
	font-size: @font-size-text-small;
	padding: 0;
}

.clickable {
	cursor: pointer;
}


nav.navbar {
	position: fixed;
	width: 100%;
	background: @blue;
	z-index: 1000;
	
} 

nav .navbar-brand img {
	height: 40px;
}

.navbar-dark .navbar-nav .nav-link {
    color: @white;
}

.navbar-nav .nav-item {
	flex: 1;
}

#navbarSupportedContent {
	padding-top: 18px;
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
}

section.grey {
	border-bottom: 2px solid @white;
	background-color: @grey;
}

.row {
	padding-top: 40px; 
}

#segments {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding-top: 50px;
	box-sizing: content-box;
	background-color: @blue;
}

#segments .segment {
	flex: 1;
	display: flex;
	align-items: center;
	text-align: center;
}

#segments .segment.open {
	flex-direction: column;
}

#segments .segment .img {
	display: none;
	flex: 1;
	width: 100%;
	background-image: url(../images/medicina.png);
	background-size: cover;
	position: relative;
}

#segments .segment:nth-child(1) .img {
	background-image: url(../images/technologie.png);
	background-size: cover;
}

#segments .segment:nth-child(2) .img {
	background-image: url(../images/technika.png);
	background-size: cover;
}

#segments .segment.open .img {
	display: block;
}

#segments .segment.open .img img {
	position: absolute;
	bottom: 32px;
	cursor: pointer;
	left: 50%;
	transform: translateX(-50%);
}


#segments .segment .container {
	display: none;
}

#segments .segment.open .container {
	display: block;
}

#segments .segment .cols {
	display: none;
	flex-direction: row;
	justify-content: stretch;
}

#segments .segment.open .cols,
.modal .cols {
	display: flex;
	padding-top: 32px;
}

.modal .cols {
	display: flex;
	padding-top: 12px;
}

#segments .segment .cols > div,
.modal .cols > div {
	text-align: left;
	flex: 1;
	padding: 16px;
}

#segments .segment .cols > div.title {
	border-top: 2px solid @font-color-light;
}

#segments .segment.tyrkis .cols > div.title {
	border-top: 2px solid @font-color-dark;
}


#segments .segment.blue {
	background-color: @blue;
}

#segments .segment.purple {
	background-color: @purple;
}

#segments .segment.tyrkis {
	background-color: @tyrkis;
	color: @font-color-dark;
}

#segments .segment .title,
.modal .title {
	font-size: 44px;
	width: 100%;
	font-weight: 100;
	line-height: 100%;
}

#segments .segment .title.clickable {
	cursor: pointer;
}

#segments .segment.open > .title {
	display: none;
}

#segments .segment .title img {
	width: 40px;
	cursor: pointer;
	margin-top: 24px;
}

button {
	background: transparent;
	border: 1px solid @font-color-light;
	color: @font-color-light;
	padding: 12px 12px 8px 12px ;
}

button:disabled {
	opacity: 0.2;
}

button.dark {
	border: 1px solid @font-color-dark;
	color: @font-color-dark;	
}

section.grey {
	color: @font-color-dark;
	padding-bottom: 80px;
}

section.grey .title,
section.grey .form  {
	font-size: 44px;
	width: 100%;
	font-weight: 100;
	line-height: 100%;
}

section.grey .cols > div.form  {
	padding-top: 100px;
}

section.grey .title a,
section.grey .form a  {
	font-size: 12px;
}

section.grey .subtitle {
	font-size: 28px;
	width: 100%;
	font-weight: 100;
	line-height: 100%;
}

section.grey .cols {
	flex-direction: row;
	justify-content: stretch;
	display: flex;
	padding-top: 32px;
}

section.grey .cols.compress {
	padding-top: 4px;
}

section.grey .cols > div {
	text-align: left;
	flex: 1;
	padding: 16px;
}

section.grey .cols.compress > div {
	padding: 4px 16px 4px 16px;
}

section.grey .cols > div.title {
	border-top: 2px solid @font-color-dark;
}

section.grey a {
	color: @dark-blue;
	text-decoration: underline;
	font-weight: 100;
}


#moreaboutus-switcher .more, #moreaboutus-switcher  .less {

	padding: 20px 0 20px 0;
	font-weight: 400;
	cursor: pointer;
}

#moreaboutus-switcher  .less {
	display: none;
}

#moreaboutus-switcher.open  .more {
	display: none;
}

#moreaboutus-switcher.open  .less {
	display: flex;
}

#moreaboutus-switcher .more img, #moreaboutus-switcher .less img {
	width: 50px;

}

#aboutus #moreaboutus.cols {
	display: none;
}

section p {
	font-size: @font-size-text;
}

section #moreaboutus p {
	font-size: @font-size-text-small;
}

section p span.labels {
	font-weight: 400;
	display: block;
}

section#prodinfo p {
	font-size: @font-size-text-small;
}

section#prodinfo p.normal {
	font-size: @font-size-text;
}

/*
section#loginform {
	padding-top: 200px;
	padding-bottom: 200px;
}
*/

input, textarea {
    width: 200px;
    border: 0;
    background: transparent;
    color: @font-color-dark;
	font-size: 20px;
}

input[type=radio],
input[type=checkbox] {
	width: 40px;
}

input:focus,
textarea:focus {
	outline: none;
	border-bottom: 1px solid @dark-blue;
}

#form input {
	width: 100%;
}

button:focus {
	outline: none;
}

input::placeholder,
textarea::placeholder {
    color: @font-color-dark;
	opacity: 0.3;
}

textarea {
	background-color: transparent;
}

#contactModal label {
	color: @dark-blue;
	font-size: 20px;
}

#formmessage, #formmessage2 {
	font-size: @font-size-text;
	font-weight: 400;
	padding: 10px 15px;
	border: 2px solid @white;
	display: none;
}

section#contact {
	display: flex;
	flex-direction: column;
}

#map {
	width: 100%;
	flex: 1;
}

.modal-content {
	background-color: @grey;
	border-radius: 0;
}

.modal-content .cols > div.title {
    border-top: 2px solid @dark-blue;
}

.modal {
	color: @font-color-dark;
}

.modal .row {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding-top: 10px;
}

.modal select {
	width: 100%;
	padding: 8px;
	border-radius: 0;
}

#calcModal .modal-dialog {
	width: 800px;
	max-width: 90%; 
}

#formOKmessage,
#leasingOKmessage {
	display: none;
	border: 2px solid @blue;
	background-color: @blue;
	color: white;
	padding: 10px;
}

#formFailedmessage,
#leasingFailedmessage {
	display: none;
	border: 2px solid @purple;
	background-color: @purple;
	color: white;
	padding: 10px;
}

.formFailedmessage {
	display: none;
	border: 2px solid @purple;
	background-color: @purple;
	color: white;
	padding: 10px;
}

input[id="surname"] {
	display: none;
}


.modal-content .cols > div.title {
    margin-left: 16px;
    padding-left: 0;
}

.modal-content .cols > div.title input {
    width: 100%;
}

.modal ul li a {
    color: #000d5b;
    text-decoration: none;
    font-weight: 100;
}

.modal ul li a.active {
    color: #000d5b;
    text-decoration: underline;
    font-weight: 100;
}


.modal input[type=text],
.modal textarea {
	font-size: @font-size-text;
	font-weight: 100;
	width:100%;
	margin-top: 6px;
}

.modal input[type=checkbox] {
	width: auto;
}

dl.centered dt {
	padding-top: 8px;
}

.table.centered tr td,
.table.centered tr td:first-child {
	vertical-align: middle;
}

.table.noborder td {
	border-top: 0;
	padding: .25rem;
}

.table.data tr td:first-child,
.table.data tr th:first-child {
	text-align: left;
	width: 382px;
}

.table.data tr td,
.table.data tr th {
	text-align: left;
	padding: .25rem 0 .25rem 0;
	border-top: 0;
	font-weight: 100;
}

.table.data tr td:last-child,
.table.data tr th:last-child {
	text-align: right;
}

.table.data input[type=checkbox] {
	margin-left: -2px;
}

.table.data tr {
	border: 0;
	border-bottom: 1px solid @font-color-dark;
}

@media (min-width: 991px) {
	.navbar-nav {
		display: flex;
		flex-direction: row;
		width: 100%;
		margin-left: 60px;
	}
}

@media (max-width: 991px) {

	section.grey .cols {
		display: block;
	}

	section.grey .cols > div {

		padding-left: 0;
		padding-right: 0;
	}

	#segments {
		height: auto;
		display: block;
	}

	#segments .segment {

		padding-top: 40px;
		padding-bottom: 40px;
	}

	#segments .segment.open .cols {
		display: block;
	}

	#segments .segment.open .img {
		height: 150px;
	}

	#segments .segment .title,
	.modal .title {
		font-size: 24px;
		width: 100%;
		font-weight: 100;
		line-height: 100%;
	}

	section.grey .title {

		font-size: 24px;
	}
}
